@model QuanLyKaraoke.Models.Account
@{
    if (ViewBag.loai == 0)
    {
        ViewBag.Title = "Add new account";
    }
    else
    {
        ViewBag.Title = "Edit account";
    }

}

<h1>@ViewBag.Title</h1>
@{
    if (ViewBag.exc == 1)
    {
        <div name="error" class="alert alert-danger" role="alert">
            ID Dupplicated!
        </div>
    }

}
<form id="form_post" action="#" method="post">
    <table class="table" id="tab2">
        <tbody>
            <tr>
                <td><p>Staff Name</p></td>
                <td>
                    @if (ViewBag.loai == 0)
                    {
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" });
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" });
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.S_ID);
                    }

                </td>

            </tr>
            <tr>
                <td><p> Phone</p></td>
                <td>
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </td>

            </tr>
            <tr>
                <td><p> Role</p></td>
                <td>
                    <div class="form-group">
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.Role, "Staff", new { @name = "role", @checked = "checked" })
                            <span style="font-size:18px;">Staff</span>
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.Role, "Accountant", new { @name = "role" })
                            <span style="font-size:18px;">Accountant</span>
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.Role, "Admin", new { @name = "role" })
                            <span style="font-size:18px;">Admin</span>
                        </label>
                    </div>
                </td>

            </tr>
            <tr>
                <td><p> UserName</p></td>
                <td>
                    @if (ViewBag.loai == 0)
                    {
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.UserName);
                        @Model.UserName;
                    }

                </td>
            </tr>
            <tr>
                <td><p> PassWord</p></td>
                <td>
                    @Html.TextBoxFor(model => model.PassWord, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
                </td>

            </tr>
            <tr>
                <td><input type="submit" value="Save" class="btn btn-info" style="width:188px"></td>
                <td></td>

            </tr>
        </tbody>
    </table>
</form>