@model QuanLyKaraoke.Models.Menu
@{
    if (ViewBag.loai == 0)
    {
        ViewBag.Title = "Add new menu";
    }
    else
    {
        ViewBag.Title = "Edit memu";
    }

}

<h1>@ViewBag.Title</h1>
@{
    if (ViewBag.exc == 1)
    {
        <div name="error" class="alert alert-danger" role="alert">
            Already have this food in you stocks
        </div>
    }

}
@using (Html.BeginForm())
{

    @Html.ValidationSummary(true)
    <table class="table" id="tab2">
        <tbody>
            <tr>
                <td><p> Food Name</p></td>
                <td>
                    @if (ViewBag.loai == 0)
                    {
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.Food_ID, new { @class = "form-control", @type = "hidden" })
                        @Html.HiddenFor(model => model.Name);
                        @Model.Name;
                    }

                </td>

            </tr>
            <tr>
                <td><p> Food Price</p></td>
                <td>
                    @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </td>

            </tr>
            <tr>
                <td><p> Stocks</p></td>
                <td>
                    @Html.TextBoxFor(model => model.Stock, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Stock, "", new { @class = "text-danger" })
                </td>

            </tr>
            <tr>
                <td><input type="submit" value="Save" class="btn btn-info" style="width:188px"></td>
                <td></td>

            </tr>
        </tbody>
    </table>
}

