@model IEnumerable<QuanLyKaraoke.Models.Menu>
@{
    ViewBag.Title = "Menu Management Page";
}


    <h1>Manage Foods</h1>


    <table id="tab" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Food ID</th>
                <th scope="col">Food Name</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Foods in Model)
            {
                <tr>
                    <th scope="row">@Foods.Food_ID</th>
                    <td>@Foods.Name</td>
                    <td>@Foods.Price VNĐ</td>
                    @if (Foods.Stock == 0)
                    {
                        <td style="color:red"> Out of stock</td>
                    }
                    else { 
                        <td style="color:green">@Foods.Stock</td>
                    }
                    
                <td>
                    @Html.ActionLink("Edit", "EditInfo", new { id = Foods.Food_ID }, new { @class = "btn btn-outline-warning" }) |
                    <a href="#" class="btn btn-outline-danger btnDelm" data="@Foods.Food_ID">Delete</a>
                </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Menu/Add_new_menu" class="btn btn-info">Add new</a>
    <script>
        var d = new Date();
        var h = d.getHours();
        var m = d.getMinutes();
        var date = d.toDateString();
        var res = date + " " + h + ":" + m;
        document.getElementById("date_time").innerHTML = res;
    </script>
    @section scripts{
        <script>
            $(document).ready(function () {
                $('.btnDelm').click(function (e) {
                    //bỏ tác dụng bấm mặc định
                    e.preventDefault();
                    var atag = $(this);
                    var idBooking = $(this).attr('data');//lấy giá trị thuộc tính data(mã máy)
                    if (!confirm("Bạn có chắc chắn xóa món ăn này chứ ?"))
                        return;
                    $.ajax(
                        {
                            url: '/Menu/Delete/' + idBooking + '/',
                            method: "post",
                            success: function (data) {
                                if (data.isvalid) {
                                    atag.closest('tr').remove();//Lấy thẻ tr gần với thẻ a nhất và xóa
                                    return;
                                }
                                alert(data.msg);
                            },
                            failed: function () {

                            }
                        }
                    );
                });
            });
        </script>
    }


