@model QuanLyKaraoke.Models.Booking
@{
    ViewBag.Title = "Add_new_booking";

}


    <h1>Add new booking</h1>
    <form id="form_post" action="#" method="post">
        <table class="table" id="tab2">
            <tbody>

                <tr>
                    <td><p> Customer Name</p></td>
                    <td>
                        <div class="form-control">
                            @Html.TextBoxFor(model => model.Name_Cus)
                        </div>
                        

                    </td>

                    <td style="font-weight: bold;"> <label for="Room">Choose Room </label></td>
                    <td>
                        @Html.DropDownListFor(model => model.RoomID, ViewBag.RoomList as SelectList,"---Select Room---", new { @class = "form-control"});
                    </td>
                </tr>
                <tr>
                    <td><p> Customer Phone</p></td>
                    <td>
                        <div class="form-control">
                            @Html.TextBoxFor(model => model.Phone_Cus)
                        </div>
                    </td>

                    <td><p>Date time booking</p> </td>
                    <td>

                        @Html.EditorFor(model => model.DateTime, new { htmlAttributes = new { @class = "form-control currdate" } })

                        <input id="currdate" class="currdate">
                    </td>
                </tr>
                <tr>
                    <td><p>Customers Amount</p></td>
                    <td>
                        <div class="form-control">
                            @Html.TextBoxFor(model => model.Amount_Cus)
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td><input type="submit" value="Save" class="btn_Save" style="width:188px"></td>
                </tr>
            </tbody>
        </table>
    </form>
        

    @section scripts {
        <script>
//Script duoc chuyen het vao file ~Conten/extend.js
        </script>
    }

