@model QuanLyKaraoke.Models.Booking
@{
    if (ViewBag.loai == 0)
    {
        ViewBag.Title = "Add new booking";
    }
    else
    {
        ViewBag.Title = "Edit booking";
    }

}
<h1>@ViewBag.Title</h1>
<form id="form_post" action="#" method="post">
    <table class="table" id="tab2">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <tbody>
            <tr>
                <td><p> Customer Name</p></td>
                <td>
                    @Html.TextBoxFor(model => model.Name_Cus, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name_Cus, "", new { @class = "text-danger" })
                </td>

                <td style="font-weight: bold;"> <label for="Room">Choose Room </label></td>
                <td>
                    @if (ViewBag.loai == 0)
                    {
                        @Html.DropDownListFor(model => model.RoomID, ViewBag.RoomList as SelectList, "---Select Room---", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RoomID, "", new { @class = "text-danger" })
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.RoomID, ViewBag.RoomList as SelectList, Model.Room.RoomID, new { @class = "form-control", value = Model.Room.RoomID })
                        @Html.ValidationMessageFor(model => model.RoomID, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.PayID)
                    }

                </td>
            </tr>
            <tr>
                <td><p> Customer Phone</p></td>
                <td>
                    @Html.TextBoxFor(model => model.Phone_Cus, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Phone_Cus, "", new { @class = "text-danger" })
                </td>

                <td><p>Date time booking</p></td>
                <td>
                    @if (ViewBag.loai == 0)
                    {
                        @Html.EditorFor(model => model.DateTime, new { htmlAttributes = new { @class = "form-control Starttime" } })
                        @Html.ValidationMessageFor(model => model.DateTime, "", new { @class = "text-danger" })
                    }
                    else
                    {
                        @Html.EditorFor(model => model.DateTime, new { htmlAttributes = new { @class = "form-control StarttimeEdit" } })
                        @Html.ValidationMessageFor(model => model.DateTime, "", new { @class = "text-danger" })
                    }
                </td>
            </tr>
            <tr>
                <td><p>Customers Amount</p></td>
                <td>
                    @Html.TextBoxFor(model => model.Amount_Cus, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Amount_Cus, "", new { @class = "text-danger" })
                </td>
                <td><p>End Time</p></td>
                <td>
                    @if (ViewBag.loai == 0)
                    {
                        @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control Endtime" } })
                        @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                    }
                    else
                    {
                        @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control EndtimeEdit" } })
                        @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                    }
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="submit" value="Save" class="btn btn-info" style="width:188px"></td>
            </tr>
        </tbody>
    </table>
</form>
@if (TempData["ErrorMessage"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["ErrorMessage"]");
            };
    </script>
}

