@model IEnumerable<QuanLyKaraoke.Models.Booking>
@{
    ViewBag.Title = "Admin Home Page";
}
<h1 class="title">Manage Booking Orders</h1>
<a href="/Home/Add_new_booking" class="btn btn-info">Add new</a>
<div class="form-group">
    @*Fillter Date Range*@
    <div class="input-group input-daterange">
        <input type="text" id="min" class="form-control">
        <span class="input-group-addon">to</span>
        <input type="text" id="max" class="form-control">
    </div>
</div>

<table class="table table-hover" id="table-mutasi" style="width:1100px;">
    <thead>
        <tr>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Room ID</th>
            <th>Status</th>
            <th>Name</th>
            <th>Phone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var test in Model)
        {
            <tr>
                <td>@test.DateTime.ToString("dd MMM yyyy H:mm")</td>
                <td>@test.EndTime.ToString("dd MMM yyyy H:mm")</td>
                <td scope="row">@test.Room.RoomID.ToString()</td>
                @if (test.P_Status == 1)
                {
                    <td style="color:yellowgreen">Waiting</td>
                }
                @if (test.P_Status == 2)
                {
                    <td style="color:green">Using</td>
                }

                @if (test.P_Status == 3)
                {
                    <td style="color:red">Finish</td>
                }
                <td>@test.Name_Cus</td>
                <td>@test.Phone_Cus</td>
                <td>
                    @if (test.P_Status == 3)
                    {
                        <a href="#" class="btn btn-outline-success" disabled style="width:146px;"> Already Payment  </a>
                    }
                    @if (test.P_Status == 2)
                    {
                        <a href="#" id="" class="btn btn-outline-success checkout" style="width:146px;" onclick="checkout(@test.PayID);"> Check OUT  </a>
                    }
                    @if (test.P_Status == 1)
                    {
                        <a href="#" id="checkout" class="btn btn-outline-success checkin" style="width:146px;" data="@test.PayID"> Check IN  </a>
                    }

                    | @Html.ActionLink("Edit", "EditInfo", new { id = test.PayID }, new { @class = "btn btn-outline-warning" }) |
                    <a href="/Home/Order/@test.Order_ID" class="btn btn-outline-info">Order</a> |
                    <a href="#" class="btn btn-outline-danger btnDel" data="@test.PayID">Cancel</a>

                </td>
            </tr>
        }


    </tbody>
</table>
@if (TempData["ErrorMessage"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["ErrorMessage"]");
            };
    </script>
}

<script type="text/javascript">
    function checkout(id) {
        window.open('/Home/Bill/' + id); return false;
    }
</script>

<script type="text/javascript">

    //Script duoc chuyen het vao file ~Conten/extend.js
    $(document).ready(function () {
        $('.checkin').click(function (e) {
            //bỏ tác dụng bấm mặc định
            e.preventDefault();
            var atag = $(this);
            var idBooking = $(this).attr('data');//lấy giá trị thuộc tính data(mã máy)
            if (!confirm("Do you want to check in ?"))
                return;

            $.ajax(
                {
                    url: '/Home/CheckIn/' + idBooking + '/',
                    method: "post",
                    success: function (data) {
                        if (data.isvalid) {
                            alert(data.msg)
                            window.location.reload()
                            return;
                        }
                        alert(data.msg);
                    },
                    failed: function () {

                    }
                }
            );

        });
    });

</script>




