@model IEnumerable<QuanLyKaraoke.Models.Booking>
@{
    ViewBag.Title = "Admin Home Page";

}

<h1 class="title">Manage Booking Orders</h1>
@*For filtering*@
<section>
    <input type="text" id="myInput" placeholder="Search anything...">
    @*From*@
    <input id="currdate" class="currdate">
    @*To*@
    <input id="nextdate" class="nextdate">

</section>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Room ID</th>
            <th scope="col">Start Time</th>
            <th scope="col">Booking Status</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (var booking in Model)
        {
            <tr>
                <td scope="row" >@booking.Room.RoomID.ToString()</td>
                <td>@booking.DateTime</td>
                @if (booking.P_Status == 1)
                {
                    <td style="color:yellowgreen">wait for payment</td>
                }
                @if (booking.P_Status == 2)
                {
                    <td style="color:green">payment success</td>
                }

                @if (booking.P_Status == 3)
                {
                    <td style="color:red">was cancel</td>
                }
                <td>@booking.Name_Cus</td>
                <td>@booking.Phone_Cus</td>
                <td>
                    <a href="#" id="checkout" class="btn btn-outline-success checkout" data="@booking.PayID"> Check IN</a> |
                    @Html.ActionLink("Edit", "EditInfo", new { id = booking.PayID }, new { @class = "btn btn-outline-warning" }) |
                    <a href="#" class="btn btn-outline-info btnOrder" data="@booking.PayID">Order</a> |
                    <a href="#" class="btn btn-outline-danger btnDel" data="@booking.PayID">Cancel</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Home/Add_new_booking" class="btn btn-info">Add new</a>
<script>
//Script duoc chuyen het vao file ~Conten/extend.js
    $(document).ready(function () {
        $('.checkout').click(function (e) {
            //bỏ tác dụng bấm mặc định
            e.preventDefault();
            var atag = $(this);
            var idBooking = $(this).attr('data');//lấy giá trị thuộc tính data(mã máy)
            if (!confirm("Do you want to check in ?"))
                return;
            $.ajax(
                {
                    url: '/Home/CheckIn/' + idBooking + '/',
                    method: "post",
                    success: function (data) {
                        if (data.isvalid) {
                            alert(data.msg)
                            return;
                        }
                        alert(data.msg);
                    },
                    failed: function () {

                    }
                }
            );
        });
    });
</script>



