@model QuanLyKaraoke.Models.Bill
@{
    ViewBag.Title = "Bill";
    var Hour = (DateTime.Now.Hour - Model.Booking.DateTime.Hour);
    float Minute = (DateTime.Now.Minute - Model.Booking.DateTime.Minute);
    Minute = Minute / 60;
    float Duration = Hour + Minute;
    //var staff = ViewBag.Staff;

    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karaoke</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Content/css/style_bill.css">
</head>
<body>
    <header style=" height: 200px;">
       <img alt="Qries" src="~/Content/images/logo_kara9.png" style="width:100%;height:140px">
       <span class="s1" style="text-align: center;font-size: 45px;"><b>BILLS PAY</b></span>
    </header>
    <span></span>
    <span class="s1" style="text-align: center;"><b></b></span>
    <div class="order">
        <p class="rows"><b>Staff:</b> @Model.AccountName </p>
        <p class="row"><span class="col-sm-6"><b>Customer:</b> @Model.Booking.Name_Cus</span> <span class="col-sm-4 phone"><b>Phone:</b> @Model.Booking.Phone_Cus</span></p>
        <p class="row"><span class="col-sm-6"><b>Time in:</b> @Model.Booking.DateTime.ToString("HH:mm tt")</span> <span></span> <span class="col-sm-4"><b>Time out:</b> @DateTime.Now.ToString("HH:mm tt")</span></p>
        <p><span style="font-weight: bold">Duration:</span> @Math.Round(Duration, 2) </p>
        <p><span style="font-weight: bold">Room:</span> @Model.Booking.Room.RoomID - <span style="font-weight: bold"> @Model.Booking.Room.RoomType</span>: <span> @(Convert.ToDecimal(Model.Booking.Room.R_Price).ToString("#,##0")) đ</span></p>
        <p><span style="font-weight: bold">Date:</span> @Model.Booking.DateTime.ToString("D") </p>

        <span style="font-weight: bold">Your order:</span>
        @foreach (var od in Model.Order_Details)
        {
            <p style="margin-left:24px;">@od.Menu.Name <span id="money" class="tax">@(Convert.ToDecimal(od.Menu.Price).ToString("#,##0")) x @od.Quantity</span></p>
        }
        @{
            //Tính tiền giờ
            var Hourly = Model.Booking.Room.R_Price * Math.Round(Duration, 2);
            //Tính thuế
            var Tax = (Model.Booking.Order.O_total + Model.Booking.Room.R_Price * Math.Round(Duration, 2)) * 10 / 100;
            //Tổng tiền
            var Total = Hourly + Tax + Model.Booking.Order.O_total;
        }
        <div class="summary">
            <p>Total Services<span id="money" class="subtotal">@(Convert.ToDecimal(Model.Booking.Order.O_total).ToString("#,##0")) đ</span></p>
            <p>Total Hourly<span id="money" class="tax">@(Convert.ToDecimal(Hourly).ToString("#,##0")) đ</span></p>
            <p>Tax 10%<span id="money" class="tax">@(Convert.ToDecimal(Tax).ToString("#,##0")) đ</span></p>
            <p>Total<span id="money" class="total">@(Convert.ToDecimal(Total).ToString("#,##0")) đ</span></p>
        </div>
        <form id="form_post" action="#" method="post">
            <div class="neon-btn">
                @*<a href="@Url.Action("ExportPDF","Home")">*@
                <input type="submit" value="ExportPDF" class="btn btn-info" style="width:188px">
                @Html.HiddenFor(d => d.Booking.Duration, new { @class = "form-control", Value = Duration })
                @Html.HiddenFor(d => d.Booking.Total, new { @class = "form-control", Value = Total })
                @Html.HiddenFor(d => d.Booking.PayID)
                @Html.HiddenFor(d => d.Booking.Room.RoomID)
                @Html.HiddenFor(d => d.Booking.EndTime, new { @class = "test"})
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                @*Export PDF*@

            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>